/*******************************/
/* Interface: Gutenburg editor */
/*******************************/

	/*****************/
	/* Plugin: PostX */
	/*****************/

		/* Gutenburg paragraph and header block bar */
		/* Gutenburg header area button */
		button[aria-label="ChatGPT"] {
			display: none !important;
		}

	/*********************/
	/* Plugin: Elementor */
	/*********************/

		/* "Edit with Elementor AI" icon button in the Paragraph block */
		/* "Generate with Elementor AI" sidebar links */
		div.e-text-ai {
			display: none !important;
		}

		/* Gutenburg paragraph and header block bar */
		button[aria-label="Edit with Elementor AI"] {
			display: none !important;
		}

		/* Link under Set featured image */
		div.e-featured-image-ai {
			display: none !important;
		}

	/************************/
	/* Plugin Rank Math SEO */
	/************************/
		
		/* Gutenburg header area button */
		button[aria-label="Content AI"] {
			display: none !important;
		}

		/* Gutenburg paragraph and header block bar */
		button[aria-label="Content AI Commands"] {
			display: none !important;
		}

	/***********************/
	/* Plugin Otter blocks */
	/***********************/
		/* Gutenburg paragraph and header block bar */
		button[aria-label="Otter AI Content"] {
			display: none !important;
		}
		
	/*******************/
	/* Plugin: Spectra */
	/*******************/

		/* Gutenburg heading and paragraph */
		.components-accessible-toolbar.zip-ai-toolbar {
			display: none !important;
		}

		/* Gutenburg paragraph and header block bar */
		button[aria-label="AI Assistant"] {
			display: none !important;
		}

		/* Entry in the Options menu under Plugins */
		button[aria-controls="zip-ai-page-level-settings:zip-ai-page-settings-panel"] {
			display: none !important;
		}




/****************************/
/* Interface: Media Library */
/****************************/

	/*********************/
	/* Plugin: Elementor */
	/*********************/

		/* "Generate with Elementor AI" button */
		div#e-image-ai-media-library {
			display: none !important;
		}

		/* "Edit with Elementor AI" button */
		div#e-image-ai-attachment-details {
			display: none !important;
		}

	/************************/
	/* Plugin Rank Math SEO */
	/************************/

		/* Attachment details, button for alt text */
		button.rank-math-generate-alt-button {
			display: none !important;
		}


/****************************/
/* Interface: Admin toolbar */
/****************************/

	/*******************/
	/* Plugin: Spectra */
	/*******************/

		/* Toolbar next to user dropdown */
		li#wp-admin-bar-zip-ai-assistant {
			display: none !important;
		}
