/*******************************/
/* Interface: Gutenburg editor */
/*******************************/

	/*****************/
	/* Plugin: PostX */
	/*****************/

		/* Gutenburg paragraph and header block bar */
		/* Gutenburg header area button */
		button[aria-label="ChatGPT"] {
			display: none !important;
		}

	/*********************/
	/* Plugin: Elementor */
	/*********************/

		/* "Edit with Elementor AI" icon button in the Paragraph block */
		/* "Generate with Elementor AI" sidebar links */
		div.e-text-ai {
			display: none !important;
		}

		/* Gutenburg paragraph and header block bar */
		button[aria-label="Edit with Elementor AI"] {
			display: none !important;
		}


	/************************/
	/* Plugin: Rank Math SEO */
	/************************/
		
		/* Gutenburg header area button */
		button[aria-label="Content AI"] {
			display: none !important;
		}

		/* Gutenburg paragraph and header block bar */
		button[aria-label="Content AI Commands"] {
			display: none !important;
		}

	/***********************/
	/* Plugin: Otter blocks */
	/***********************/

		/* Gutenburg paragraph and header block bar */
		button[aria-label="Otter AI Content"] {
			display: none !important;
		}
		
	/*******************/
	/* Plugin: Spectra */
	/*******************/

		/* Gutenburg heading and paragraph */
		.components-accessible-toolbar.zip-ai-toolbar {
			display: none !important;
		}

		/* Gutenburg paragraph and header block bar */
		button[aria-label="AI Assistant"] {
			display: none !important;
		}


/**************************/
/* Interface: Post editor */
/**************************/

	/**************************/
	/* Plugin: All in One SEO */
	/**************************/

		/* Top bar "writing assistant" */
		button:has(#aioseo-writing-assistant-sidebar-button) {
			display: none !important;
		}

		/* Top bar plugin menu AI option */
		a:has(svg.aioseo-ai-content) {
			display: none !important;
		}

		/* Options menu writing assistant option */
		button#aioseo-writing-assistant-sidebar-button {
			display: none !important;
		}

		/* Plugin settings area AI Content */
		div:has(> svg.aioseo-ai-content) {
			display: none !important;
		}

		/* Writing assistant metabox */
		div#aioseo-writing-assistant-metabox {
			display: none !important;
		}

	/*********************/
	/* Plugin: Elementor */
	/*********************/

		/* "Add an excerpt" sidebar link */
		div.e-excerpt-ai {
			display: none !important;
		}

		/* Link under Set featured image */
		div.e-featured-image-ai {
			display: none !important;
		}

	/*******************/
	/* Plugin: Spectra */
	/*******************/

		/* Entry in the Options menu under Plugins */
		button[aria-controls="zip-ai-page-level-settings:zip-ai-page-settings-panel"] {
			display: none !important;
		}

	/*****************/
	/* Plugin: Yoast */
	/*****************/
		/* "Generate" buttons in SEO title and Meta description area */
		.yst-root button.yst-replacevar__use-ai-button {
			display: none !important;
		}

/****************************/
/* Interface: Media Library */
/****************************/

	/*********************/
	/* Plugin: Elementor */
	/*********************/

		/* "Generate with Elementor AI" button */
		div#e-image-ai-media-library {
			display: none !important;
		}

		/* "Edit with Elementor AI" button */
		div#e-image-ai-attachment-details {
			display: none !important;
		}

	/************************/
	/* Plugin Rank Math SEO */
	/************************/

		/* Attachment details, button for alt text */
		button.rank-math-generate-alt-button {
			display: none !important;
		}

/********************/
/* Interface: Users */
/********************/

	/*********************/
	/* Plugin: Elementor */
	/*********************/

		/* Elementor AI on/off option */
		tr:has(#elementor_enable_ai),
		tr:has(+ tr #elementor_enable_ai)
		{
			display: none !important;
		}

/****************************/
/* Interface: Admin toolbar */
/****************************/

	/*******************/
	/* Plugin: Spectra */
	/*******************/

		/* Toolbar next to user dropdown */
		li#wp-admin-bar-zip-ai-assistant {
			display: none !important;
		}


/************************/
/* Interface: Dashboard */
/************************/

	/*********************/
	/* Plugin: Elementor */
	/*********************/

		/* Elementor Overview widget link */
		.e-overview__ai {
			display: none !important;
		}



/****************************/
/* Interface: Admin sidebar */
/****************************/

	/*******************/
	/* Plugin: Spectra */
	/*******************/

		/* AI Features link in the Spectra section */
		#adminmenu li:has(a[href*="ai-features"]) {
			display: none !important;
		}


	/*******************/
	/* Plugin: SeedProd */
	/*******************/

		/* AI Theme Builder option in SeedProd section */
		li a[href*="seedprod_lite_ai_themes"] {
			display: none !important;
		}
		li:has(> a[href*="seedprod_lite_ai_themes"]) {
			display: none !important;
		}
